---

name: qa

on:
  pull_request:
  push:
    branches:
      - main
  workflow_call:
    inputs:
      ref:
        required: true
        type: string


jobs:

  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version:
          - "3.10"  # 2026-10
          - "3.11"  # 2027-10
          - "3.12"  # 2028-10
          - "3.13"  # 2029-10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}
      - uses: extractions/setup-just@v3
      - run: pip install .[development]
      - run: just integration-tests

  linting:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        recipe:
          - lint
          - mypy
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"
      - run: sudo snap install --edge --classic just
      - run: pip install .[development]
      - run: just ${{ matrix.recipe }}

...
